@tailwind base;
@tailwind components;
@tailwind utilities;

.text-hero {
   font-size: 49px;
}

.text-section {
   font-size: 40px;
}

.text-title-lg {
   font-size: 40px;
}

.text-title {
   font-size: 28px;
}

.text-p {
   font-size: 16px;
}

.flex-center {
   justify-content: center;
   align-items: center;
}

.flex-between {
   justify-content: space-between;
   align-items: center;
}

.bg-accent {
   background-color: #f0e8f6;
}

.bg-secondary {
   background-color: #f4f3ef;
}

.border-1 {
   border-width: 1px;
}

.container-px {
   padding-left: 16px;
   padding-right: 16px;
}

.container-p {
   padding: 16px;
}

.container-rounded-t {
   border-top-right-radius: 10px;
   border-top-left-radius: 10px;
}

.container-rounded-b {
   border-bottom-right-radius: 10px;
   border-bottom-left-radius: 10px;
}

.container-rounded {
   border-radius: 10px;
   border-radius: 10px;
}

@media (min-width: 768px) {
   .text-hero {
      font-size: 80px;
   }

   .text-section {
      font-size: 56px;
   }

   .container-px {
      padding-left: 40px;
      padding-right: 40px;
   }

   .container-p {
      padding: 40px;
   }

   .container-rounded-t {
      border-top-right-radius: 30px;
      border-top-left-radius: 30px;
   }

   .container-rounded-b {
      border-bottom-right-radius: 30px;
      border-bottom-left-radius: 30px;
   }

   .container-rounded {
      border-radius: 30px;
      border-radius: 30px;
   }
}

@media (min-width: 1024px) {
   .container-px {
      padding-left: 80px;
      padding-right: 80px;
   }

   .container-p {
      padding: 80px;
   }
}

input[type='text'] {
   -moz-appearance: textfield;
   -webkit-appearance: textfield;
   appearance: textfield;
}
input[type='text']::-webkit-outer-spin-button,
input[type='text']::-webkit-inner-spin-button {
   display: none;
}
