@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   font-size: 10px;
}

.text-hero-lg {
   font-size: 80px;
}

.text-hero {
   font-size: 50px;
}

.text-section-lg {
   font-size: 56px;
}

.text-section {
   font-size: 40px;
}

.text-title-lg {
   font-size: 40px;
}

.text-title {
   font-size: 28px;
}

.text-p {
   font-size: 16px;
}

.flex-center {
   justify-content: center;
   align-items: center;
}

.flex-between {
   justify-content: space-between;
   align-items: center;
}

.bg-accent {
   background-color: #f0e8f6;
}

.bg-secondary {
   background-color: #f4f3ef;
}

.bg-purple {
   background-color: #6a1ba6;
}

.bg-gradient {
   background: linear-gradient(
      99.66deg,
      rgba(180, 46, 139, 1) 30.98%,
      rgba(249, 38, 114, 0.96) 96.37%
   );
}
