@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   font-size: 10px;
}

.text-hero-lg {
   font-size: 80px;
}

.text-hero {
   font-size: 50px;
}

.text-section-lg {
   font-size: 56px;
}

.text-section {
   font-size: 40px;
}

.text-title-lg {
   font-size: 40px;
}

.text-title {
   font-size: 28px;
}

.text-p {
   font-size: 16px;
}

.flex-center {
   justify-content: center;
   align-items: center;
}

.flex-between {
   justify-content: space-between;
   align-items: center;
}

.bg-accent {
   background-color: #f0e8f6;
}

.bg-secondary {
   background-color: #f4f3ef;
}

.border-1 {
   border-width: 1px;
}

input[type='text'] {
   -moz-appearance: textfield;
   -webkit-appearance: textfield;
   appearance: textfield;
}
input[type='text']::-webkit-outer-spin-button,
input[type='text']::-webkit-inner-spin-button {
   display: none;
}

input[type='text']:focus {
   outline: 2px solid #f0e8f6;
}
